/* Start Oral History Styles */
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
  .container {
    max-width: 100%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 8%;
    margin-left: 8%;
  }
  .download-file{
    image-width: 150px;
  }
  #next-item.next{
    padding-right: 150px;
  }
  .item-images {
    float: center;
  }
}

/* End Oral History Styles */
