/* Start Oral History Styles */
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }

  .profile img {
    border: 1px solid #ccc;
    float: left;
    padding: 2px;
    width: 100px;
    vertical-align: top;
    height: auto; }
/* End Oral History Styles */
